body {
    margin: 0;
    padding: 0;
}

.sidebar {
    border-right: 1px solid #ddd;
}

.sidebar label {
    margin-top: 10px;
    display: block;
}

.sidebar .rc-slider-mark-text {
    color: #bdc3c7;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
